.header {
    background: linear-gradient(90deg, #001B2F 0%, #005695 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
  
    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20%;

      img {
        width: 30vh; 
        height: auto;  
        object-fit: contain; 
      }
    }
    
    .nav {
      display: flex;
      width: 20%;
      gap: 2rem;
      font-size: 20px;
  
      .link {
        position: relative;
        color: #fff;
        text-decoration: none;
        display: inline-block;
  
        &::after {
          content: '';
          position: absolute;
          left: 0;
          bottom: 0;
          width: 0;
          height: 2px;
          background-color: #fff;
          transition: width 0.3s;
        }
  
        &:hover {
          color: #00a1d9;
  
          &::after {
            width: 100%;
          }
        }
      }
    }
  
    @media (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
      display: flex;
      width: 100%;
      font-size: auto;
  
      .nav {
        flex-direction: column;
      }
  
      .logo {
        margin-bottom: 10px;
        width: 100%; 
        justify-content: center;
        align-items: center;
      }
    }
  }
  