.footer {
  background: linear-gradient(90deg, #001B2F 0%, #005695 100%);
    color: #ecf0f1;
    text-align: center;
    padding: 1rem 0;
    font-size: 0.9rem;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  